.DS_Store
/front/*/**.DS_Store
/front/logs
/front/*.log
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
/front/node_modules
/front/dist
/front/dist-ssr
/front/*.local
/front/.vscode/*
/front/coverage

.DS_Store
/back/*/**.DS_Store
/back/*.gem
/back/*.rbc
/back/.config
/back/coverage/
/back/InstalledFiles
/back/pkg/
/back/spec/reports/
/back/spec/examples.txt
/back/test/tmp/
/back/test/version_tmp/
/back/tmp/
!/back/log/.keep
/back/log/*


# Used by dotenv library to load environment variables.
# .env

# Ignore Byebug command history file.
/back/.byebug_history

## Environment normalization:
/back/.bundle/
/back/vendor/bundle
/back/lib/bundler/man/

# Used by RuboCop. Remote config files pulled in from inherit_from directive.
# .rubocop-https?--*
